$bg-gray: #282c34;
$primary: #00b7c6;
$black : #000000;
$white : #ffffff;
$blue : #136a8d; 
$dark-blue: #134f66;
$light-blue: #dff1f8;
$link-highlighted: #206f85;
$almost-black: #1b1b1b;
$gray-blue: #3d4a57;
$green-yellow: #e6e93d;
$light-green-yellow: #f3f594;
$orange: #fd6139;
$stations-blocks: #ffbdad;
