
.icon-to-end:before { content: '\e800'; } /* '' */
.icon-search-1:before { content: '\e802'; } /* '' */
.icon-play:before { content: '\e803'; } /* '' */
.icon-pause:before { content: '\e804'; } /* '' */
.icon-left-big:before { content: '\e805'; } /* '' */
.icon-spin5:before { content: '\e838'; } /* '' */